doctype html
html
	head
		title Fetch - Hub
		link(rel='stylesheet', type='text/css', href='/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway')

		link(rel='stylesheet', type='text/css', href='/css/fetch.css')
	body
		h1 Soon there will be cool admin stuff here!