doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
	body
		block content